# SPDX-License-Identifier: GPL-2.0-or-later
# Copyright (C) 2026 Texas Instruments Incorporated - https://www.ti.com/
#
# TI MSPM33C321A LaunchPad Evaluation Kit
# https://www.ti.com/tool/LP-MSPM33C321A
#

source [find interface/xds110.cfg]
adapter speed 10000
source [find target/ti_mspm33.cfg]